vendor
node_modules
.git
.idea
.vscode
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
public/build
database/database.sqlite
cervus-handoff
*.zip
.env
